In [ ]:
def sum(num1,num2,*numbers):
  sum=num1+num2
  for num in numbers:
    sum=sum+num
  return sum
total=sum(10,20,1,2,3,4,5,6,7,8,9)
total1=sum(10,20,1,2)
print(total)
print(total1)

75
33

In [ ]:
def sum_total(*args):
  total=0
  for num in args:
    total=total+num
  return total
total=sum_total(10,20,30,40,50)
print(total)
total1=sum_total()
print(total1)
total=sum_total(10)
print(total)

150
0
10

In [ ]:
def full_name(first,last):
  name=f'{first} {last}'
  return name
name = full_name("Ayesha","Siddika")
print(name)

Ayesha Siddika

In [ ]:
def full_name(first,last,**addition):
  name=f'{first} {last}'
  for key,value in addition.items():
    print (key ,value)
  return name
name = full_name(first="Ayesha",last="Siddika",title="Ms",add="Khatun")
print(name)

title Ms
add Khatun
Ayesha Siddika

In [ ]:
def a_lot(n1,n2):
  sum=n1+n2
  mul=n1*n2
  remin=n1%n1
  return sum,mul,remin
a = a_lot(20,7)
print(a,type(a))
print(list[a])

(27, 140, 0) <class 'tuple'>
list[27, 140, 0]

**Local and Global Scope in Python**

In [ ]:
balance=161
def buy_things():
  global balance
  balance=balance-100
  print(balance)
buy_things()
print(balance)

61
61

**Built-in function and import modules**

In [ ]:
highest=max([200,100,500,20,300])
print(highest)
lowest=min([200,100,500,20,300])
print(lowest)

500
20

In [ ]:
def any(lis):
  for num in lis:
    if num:
      return True
    return False

**List,List index and slice**

In [ ]:
numbers=[45,56,12,89,49,90,34,93,42]
print(numbers[-1],numbers[1])
print(numbers[0:len(numbers)])
print(numbers[0:len(numbers):2])
print(numbers[-1:-len(numbers)-1:-1])
print(numbers[len(numbers):0:-1])
print(numbers[:])
print(numbers[:5])
print(numbers[3:])
print(numbers[::-1])

42 56
[45, 56, 12, 89, 49, 90, 34, 93, 42]
[45, 12, 49, 34, 42]
[42, 93, 34, 90, 49, 89, 12, 56, 45]
[42, 93, 34, 90, 49, 89, 12, 56]
[45, 56, 12, 89, 49, 90, 34, 93, 42]
[45, 56, 12, 89, 49]
[89, 49, 90, 34, 93, 42]
[42, 93, 34, 90, 49, 89, 12, 56, 45]

**List Methods**

In [ ]:
nums=[10,20,30,40]
nums.append(60)
print(nums)
index=nums.index(10)
print(index)

[10, 20, 30, 40, 60]
0

In [ ]:
numbers=[45,56,12,89,49,90,34,93,42]
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[12, 34, 42, 45, 49, 56, 89, 90, 93]
[93, 90, 89, 56, 49, 45, 42, 34, 12]

In [ ]:
numbers=[45,56,12,89,49,90,34,93,42,100,200,43]
odds=[]
for num in numbers:
  if num%2==1 and num%5==0:
    odds.append(num)
print(odds)

[45]

In [ ]:
numbers=[45,56,12,89,49,90,34,93,42,100,200,43]
odd_nums=[num for num in numbers if num%2!=0]
print(odd_nums)

[45, 89, 49, 93, 43]

In [ ]:
numbers=[45,56,12,89,49,90,34,93,42,100,200,43]
evens=[num for num in numbers if num%2==0 and num>50]
print(evens)

[56, 90, 100, 200]

String Immutable and string methods

In [ ]:
name="Ayesha Siddika"
name1="""
    Ayesha
    Siddika
    Shohana
      """
print(name,name1)
for char in name:
  print(char)
print(name[::-1])

Ayesha Siddika
    Ayesha
    Siddika
    Shohana

A
y
e
s
h
a

S
i
d
d
i
k
a
akiddiS ahseyA

In [ ]:
name="Ayesha Siddika"
if 'Ayes' in name:
  print('exist')
else:
  print("Not exist")

exist

In [ ]:
def mul():
  return 3,4
print(mul())

(3, 4)

**SET and SET methods in Python**

In [ ]:
seta={10,20,30,40,50}
setb={100,20,30,60,15}
print(seta & setb)
print(seta | setb)

{20, 30}
{100, 40, 10, 15, 50, 20, 60, 30}

In [ ]:
list=[1,2,3,4,10,7,9,0,8]
peron1=['kala chan','Kali pur']
person={'name':'Ayesha','roll':'10','adress':'korotia'}
print(person)
print(person['name'])
print(person.keys())
print(person.values())
person['language']='python'

{'name': 'Ayesha', 'roll': '10', 'adress': 'korotia'}
Ayesha
dict_keys(['name', 'roll', 'adress'])
dict_values(['Ayesha', '10', 'korotia'])

In [ ]:
person={'name':'Ayesha','roll':'10','adress':'korotia'}
for key,value in person.items():
  print(key,"  ",value)

name    Ayesha
roll    10
adress    korotia

In [ ]:
numbers=[12,56,98,78,56,12,6,98]
for i,num in enumerate(numbers):
  print(i,num)

0 12
1 56
2 98
3 78
4 56
5 12
6 6
7 98

**Try except finally and file read write in python**

In [ ]:
try:
  result=45/0
  print(result)
except:
  print("Error happend")
finally:
  print("Finally here")
print('Done')

Error happend
Finally here
Done

In [ ]:
try:
  result=45/5
  print(result)
except:
  print("Error happend")
finally:
  print("Finally here")
print('Done')

9.0
Finally here
Done

**Lambda Function**

In [ ]:
def doubled(x):
  return x*2

doubled=lambda num:num*2

In [ ]:
add=lambda x,y:x+y
a=add(10,20)
print(a)

30

In [ ]:
# map
numbers=[12,56,98,78,56,12,6,98]
doubled-nums=map()