#Function
A function in Python is a block of reusable code that performs a specific task and can be called with inputs to return an output.
Functions help in organizing code, reducing repetition, and improving readability.

In [69]:
def greet(user):
  print(f'Hello {user}')
greet("Ayesha")

Hello Ayesha

In [70]:
def greet(user="Guest"):
  print(f'Hello {user}')
greet("Ayesha")
greet()

Hello Ayesha
Hello Guest

#Return

In [7]:
def square(a,b):
  a=a**2
  b=b**2
  return a+b
a=square(2,3)
print(a)
print(type(a))

13
<class 'int'>

In [8]:
ans=square(b=2,a=9)
print(ans)

85

#Args,Kwargs
*args allows a function to accept any number of(variable number) positional arguments as a tuple.
**kwargs allows a function to accept any number of keyword arguments as a dictionary.

In [9]:
def var_sqr(*args):
  return args
a=var_sqr(1,2,3,4,5)
for i in a:
  print(i)

1
2
3
4
5

In [12]:
def stu(**kwargs):
  return kwargs
a=stu(name='Ayesha Siddika',age=30)
print(a)

{'name': 'Ayesha Siddika', 'age': 30}

In [13]:
def stu(**kwargs):
  for key,value in kwargs.items():
    print(f'{key}= {value}')
stu(name="Ayesha Siddika",cls="10",Roll=1,marks=50)

name= Ayesha Siddika
cls= 10
Roll= 1
marks= 50

#unpacked
train_test_split method return 4 value which is unpacked and stored in  X_train, X_test, y_train, y_test

In [16]:
def give_prediction():
  return 10,20
#unpacking / split data set in scikitlearn
#X_train, X_test, y_train, y_test = train_test_split(
  #  X, y, test_size=0.33, random_state=42)
x,y=give_prediction()
print(x,y)

10 20

In [18]:
def give_prediction():
  a={1,2,3,4}
  b=[3,354,234,564]
  return a,b
a,b=give_prediction()
print(a,b)

{1, 2, 3, 4} [3, 354, 234, 564]

In [21]:
def give_prediction():
  return {"name":"Ayesha","Age":18},{"name":"Siddika","Age":8}
a,b=give_prediction()
for item in a.items():
  print(item)

('name', 'Ayesha')
('Age', 18)

#Iterator
An iterator in Python is an object that returns data one element at a time when iterated over using next().
In data science, iterators are useful for streaming large datasets without loading them entirely into memory.

In [27]:
s={10,1,2,3,4,5,8,5,1}
s_iter=iter(s)
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

0
1
2
3
4

#Generator
generator in Python is a special type of function that yields items one at a time instead of returning them all at once.
It saves memory and improves performance when processing data streams or big files, as it helps to load data in chunk sizes each time instead of loading everything into memory.

In [36]:
lst=[x for x in range(100) if x%2==0]
def data_loader(chunk_size,lst):
  for i in range(0,len(lst),chunk_size):
    yield lst[i:i+chunk_size]#yield dia data er size bole dibo.koto data nibo dataset theke
x=data_loader(10,lst)
print(type(data_loader))
print(next(x))
print(next(x))

<class 'function'>
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

Lambda Function
lamda function receive only 1 logic but multiple attribute
when we dont need to reuse the code we use lambda Function

In [39]:
def square_add(x,y):
  return x**2+y**2
square_add(2,3)
sqr_add=lambda x,y:x**2+y**2
print(sqr_add(3,4))

25

#Map
map() function is used to apply a specific function to every element in an iterable like a list or series.
It helps in data transformation and preprocessing, such as converting text to lowercase or apply square formula in all the valu of a list

In [44]:
lst=[1,2,3,4,5,6]
def square(x):
  return x**2
lst=map(square,lst)
print(type(lst))
print(lst)
lst=list(lst)
print(type(lst))
print(lst)

<class 'map'>
<map object at 0x7d598fd479a0>
<class 'list'>
[1, 4, 9, 16, 25, 36]

In [46]:
lst={1,2,3,4,5}
lst=map(lambda x:x*5,lst)
print(type(lst))
print(lst)
print(list(lst))

<class 'map'>
<map object at 0x7d598fd4a1d0>
[5, 10, 15, 20, 25]

In [49]:
str="ayesha Siddika Shohan Ehtesham Alam"
str=str.split()
str=map(lambda x:x[::-1],str)
print(list(str))

['ahseya', 'akiddiS', 'nahohS', 'mahsethE', 'malA']

In [ ]:
string = "Hello world, welcome to the age of AI"
string1 = list(map(str.upper, string))
print(string1)
string1="".join(string1)
print(string1)

#Filter
filter() function is used to select elements from an iterable that meet specific conditions defined by a function.
It helps in data cleaning and preprocessing by keeping only the relevant or valid data points for analysis.

In [62]:
numbers=[x for x in range(100)]
print(numbers)
even=list(filter(lambda x:x%2==0,numbers))
print(even)
fifty_upper=list(filter(lambda x:x>50,numbers))
print(fifty_upper)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [63]:
data=[0,1,'',None,'Hello',[],[1,2],None,True,False,None]
cleaned_data=list(filter(None,data))
print(cleaned_data)

[1, 'Hello', [1, 2], True]

In [64]:
string = "Hello world, welcome to the age of AI"
vowel=list(filter(lambda x: x in "AEIOUaeiou",string))
print(vowel)

['e', 'o', 'o', 'e', 'o', 'e', 'o', 'e', 'a', 'e', 'o', 'A', 'I']

In [65]:
fruits=['aaa','sdfs','a','','fjsdhufh']
len2=list(filter(lambda x:len(x)>2,fruits))
print(len2)

['aaa', 'sdfs', 'fjsdhufh']

#Reduce Function- Functools
reduce() function (from functools) is used to apply a function cumulatively to all items in an iterable, reducing them to a single value.
Itâ€™s often used for aggregations like summing, multiplying, or combining data into one result.

In [66]:
from functools import reduce
lst=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
sum=reduce(lambda x,y :x+y,lst)
print(sum)

171

In [67]:
from functools import reduce
lst=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
m=reduce(lambda x,y:x if x>y else y,lst)
print(m)

18